html, body {
  width: 100%;
  height: 100%;
}

.App .header {
  grid-area: header;
}

.App .navigation {
  grid-area: navigation;
}

.App .content {
  grid-area: content;
  overflow: auto;
  padding: 15px 5px 10px 5px;
}

.App .footer {
  height: 100px;
  grid-area: footer;
  background-color: #8c8f92;
}

.App {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header header header"
    "navigation content content content"
    "footer footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}
